* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 6rem;
}

#form {
  margin-top: 5rem;
  margin-left: 40%;
  line-height: 3.2rem;
}

.submit-btn {
  text-align: center;
  padding: 8px;
  font-size: medium;
  background-color: rgb(226, 88, 185);
}

#password {
  margin-right: 1rem;
}

.pass {
  margin-right: 2rem;
}
